@import "~office-ui-fabric-react/dist/sass/References.scss";

.employeeList {
  :global {
    .m-row {
      @include ms-Grid-row;
    }
    .m-col {
      @include ms-Grid-col;
    }
    .item {
      padding-bottom: 16px;
    }
  }
}
