@import "~office-ui-fabric-react/dist/sass/References.scss";

.employeeContainer {
  :global {
    .container {
      @include ms-Grid;
    }
    .row {
      @include ms-Grid-row;
    }
    .title {
      @include ms-font-xl;
    }
  }
}
